# generated html files
html/
# vim swap files
*.swp
# datasets
data/dpts.txt
data/prenoms.txt
data/prenoms_sample.txt/
data/depts.parquet/
data/prenomsParDeptsEtAnnees.gzip.parquet/
data/prenomsParDeptsEtAnnees.parquet/
data/prenoms/
# jupyter temporary files
.local
notebook/.ipynb_checkpoints/
# Python venv
/sparkenv/
/PROD/
# macOS system files
.DS_Store